<f:layout name="Widget" />
<f:section name="Title"></f:section>
<f:section name="Content">
        <f:spaceless>
            ,"listTags": [<f:for each="{tags}" iteration="tagsIterator" as="tag">
            <f:render section="tagsView" arguments="{tag: tag,settings:settings,tagsIterator:tagsIterator}" />
            {f:if(condition: tagsIterator.isLast, else: ',')}
        </f:for>]
        </f:spaceless>
</f:section>
<f:section name="tagsView">
    <f:spaceless>
        <f:format.raw>
            <f:format.json value="{
                    uid: tag.uid,
                    title: tag.title,
                    cnt: tag.cnt,
                    description: '{f:if(condition: tag.description, then: tag.description)}',
                    tagUid: settings.tagUid
                }"/>
        </f:format.raw>
    </f:spaceless>
</f:section>